<div class="backdrop"></div>
<header class="main-header">
  <div>
    <img class="firmLogo" alt="">
  </div>
    <button id="side-menu-toggle">Menü</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <% if(isUser) {%>
                <li class="main-header__item">
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li class="main-header__item">
                    <a href="/add-card">Kart Ekle</a>
                </li>
                <li class="main-header__item">
                    <a href="/my-cards">Kartlarım</a>
                </li>
                <li class="main-header__item">
                    <a href="/update">Bilgi Güncelle</a>
                </li>
                <li class="main-header__item">
                    <a href="/customer-payments">Hareketler</a>
                </li>
                <li class="main-header__item">
                    <a href="/refundable-list">İade Talebi Oluştur</a>
                </li>
                <li class="main-header__item">
                    <a href="/refund-list">İade Taleplerim</a>
                </li>
        </ul>
        <ul class="main-header__item-list">
            <!-- if (!isAuthenticated) { !-->
                <!--li class="main-header__item">
                    <a href="/login">Giriş Yap</a>
                </li>
                <li class="main-header__item">
                    <a href="/register">Kaydol</a>
                </li!-->
            <!-- } else { !-->
                <li class="main-header__item">
                  <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Çıkış</button>
                  </form>
                </li>
            <% } else { %>
              <li class="main-header__item">
                 <p style="color: white;">Hoşgeldiniz, lütfen giriş yapın.</p>
              </li>
            <% } %>
        </ul>
    </nav>
</header>
<!--a href="/add-card">KART EKLE</a>
<a href="/my-cards">KARTLARIM</a>
<a href="/update">BİLGİLERİMİ GÜNCELLE</a>
<a href="/customer-payments">HAREKETLER</a>
<a href="/refundable-list">İADE TALEBİ OLUŞTUR</a>
<a href="/refund-list">İADE TALEPLERİM</a!-->

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
      <% if(isUser){ %>
        <li class="mobile-nav__item">
            <a href="/dashboard">Dashboard</a>
        </li>
        <li class="mobile-nav__item">
            <a  href="/add-card">Kart Ekle</a>
        </li>
        <li class="mobile-nav__item">
            <a href="/my-cards">Kartlarım</a>
        </li>
        <!-- if (isAuthenticated) { !-->
            <li class="mobile-nav__item">
                <a href="/update">Bilgi Güncelle</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/customer-payments">Hareketler</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/refundable-list">İade Talebi Oluştur
                </a>
            </li>
            <li class="mobile-nav__item">
                <a href="/refund-list">İade Taleplerim
                </a>
            </li>
        <!-- } !-->
        <!-- if (!isAuthenticated) { !-->
            <!--li class="mobile-nav__item">
                <a href="/login">Giriş Yap</a>
            </li>
            <li class="mobile-nav__item">
                <a href="/register">Kaydol</a>
            </li!-->
        <!-- } else { !-->
            <li class="mobile-nav__item">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Çıkış</button>
                </form>
            </li>
        <% } else {%>
          <li class="main-header__item">
             <p style="color: black;">Hoşgeldiniz, lütfen giriş yapın.</p>
          </li>
        <% } %>
    </ul>
</nav>
