<script src="/js/main.js"></script>
<footer class="bottom">
  <div class="bottom-content-left">
    <img class="bottom-logo" src="/logo/logoSmall.png">
    <p class="bottom-text-firm-name">MAKS OPUS MÜHENDİSLİK YAZILIM SANAYİ VE TİCARET LİMİTED ŞİRKETİ ®</p>
    <p class="bottom-text">ÇUKUROVA ÜNİVERSİTESİ TEKNOKENT B BLOK ZEMİN KAT B/Z10-E 01330 SARIÇAM/ADANA</p>
  </div>
</footer>
</body>

</html>
