<%- include('../includes/head.ejs') %>
</head>
<body>
    <div class="mainPicDiv">
       <img src="/logo/logoBiggest.png" alt="" class="mainPic"/><br>
       Üye değilseniz <a class="routeHref" href="/register">KAYDOL</a>UN <br>
       Üye iseniz     <a class="routeHref" href="/login">GİRİŞ</a> yapın
    </div>
    
</body>
</html>